root = true

[*]
indent_style = space
indent_size = 2
max_line_length = 140

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{java,scala,rs,xml}]
indent_size = 4

[gradle/verification-metadata.xml]
indent_size = 3

[*.{yaml,yml}]
quote_type = double

[*.md]
trim_trailing_whitespace = false
max_line_length = unset

[{Makefile,**.mk}]
indent_style = tab
