# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
*.hprof

# JetBrains
.idea/

# Project
.env
.env.local
settings.xml
bin/
.docker/
.dev/
.task/
coverage/
coverage.tar.gz
